body {
    background-color: var(--bg-1);
}

* {
    transition: opacity, color, border-color .3s ease;
}

.ad {
    display: none;
}

:root {
    --font-color-normal: hsl(0, 0%, 60%);
    --font-color-hover: hsl(0, 0%, 70%);
    --font-color-select: hsl(0, 0%, 90%);
    --bg-1: hsl(0, 0%, 20%);
    --bg-2: hsl(0, 0%, 10%);
    --bg-active: hsl(0, 0%, 10%);
    --bg-hover-1: hsl(0, 0%, 25%);
    --bg-hover-2: hsla(0, 0%, 46%, 0.3);
    --line-1: hsl(0, 0%, 33%);
    --line-2: hsl(0, 0%, 25%);
    --icon-color: hsla(0, 0%, 100%, 0.4);
}

/************** global************/
#bucket-add {
    background-color: var(--bg-1);
    color: var(--font-color-select);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#bucket-add * {
    border-color: var(--line-1);
    color: var(--font-color-normal);
}

#bucket-add .form-btn {
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#bucket-add input {
    background-color: var(--bg-2);
    color: var(--font-color-select);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#bucket-add .group a {
    background-color: var(--bg-2);
}

#bucket-add .group a:hover {
    background-color: var(--bg-1);
}

#bucket-add button {
    color: white;
}

#bucket-add .description {
    box-shadow: 0px 0px 0px 1px var(--line-1) inset !important;
}

#bucket-add #owner_id {
    background-color: var(--bg-1);
}

textarea,
select {
    background-color: var(--bg-1) !important;
    color: var(--font-color-select) !important;
    border-color: var(--line-1) !important;
}

.shot-media-section {
    background-color: var(--bg-1) !important;
}

input:not([type=checkbox]):not([type=radio]),
.selectize-input {
    background-color: var(--bg-1) !important;
    color: var(--font-color-select) !important;
    box-shadow: 0px 0px 0px 1px var(--line-1) inset !important;
    border: none !important
}

* {
    border-color: var(--line-1) !important;
}

p {
    color: var(--font-color-normal) !important;
}

/************** Header ************/
#header-inner {
    background-color: var(--bg-2);
}

#t-upld a span {
    color: var(--font-color-normal);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
    border: none !important;
}

#header-inner .search-text {
    background-color: var(--bg-1) !important;
}

#nav input.search-text:focus {
    background-color: var(--bg-2) !important;
    color: var(--font-color-select) !important;
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#nav li:hover ul.tabs,
#nav li:hover div.menu-community,
#nav li ul.tabs li.menu-pro .menu-pro-features {
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
    border-radius: 6px !important;
}

/************** subnav ************/

#wrap .shot-subnav {
    background-color: var(--bg-1);
    border-bottom: 1px solid var(--line-1);
}

#wrap .shot-views .open .btn-dropdown-link {
    background-color: var(--bg-2);
    box-shadow: none;
}

#wrap .shot-subnav .scroll a {
    color: var(--font-color-normal);
    background-image: linear-gradient(to right, #333 0%, #333 50%);
}

#wrap .outlined {
    color: var(--font-color-normal);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#wrap .shot-filters {
    border-top: 1px solid var(--line-1);
}

#wrap .shot-filters-form input {
    background-color: var(--bg-1);
    color: var(--font-color-select);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#wrap .outlined .label {
    color: var(--font-color-normal);
}

#wrap .shot-categories .active a {
    color: var(--font-color-select) !important;
    background-color: var(--bg-active);
}

#wrap .shot-subnav .shot-categories a {
    color: var(--font-color-normal);
}

#wrap .shot-categories a:hover {
    color: var(--font-color-hover);
    background-color: var(--bg-hover-2);
}

#wrap .filters-active {
    background-color: var(--bg-active);
    box-shadow: none;
    color: var(--font-color-select) !important;
}

#wrap .filters-active .label {
    color: var(--font-color-select) !important;
}

#wrap .filters-active svg path {
    fill: var(--font-color-select);
}

#wrap .btn-dropdown-options {
    border-color: var(--bg-1);
    overflow: hidden;
    background-color: var(--bg-1);
    box-shadow: 0px 0px 0px 1px rgb(83, 83, 83) inset;
}

#wrap .btn-dropdown-options a {
    color: var(--font-color-normal);
}

#wrap .btn-dropdown-options a:hover {
    background-color: var(--bg-hover-2);
    color: var(--font-color-hover);
}

#wrap .btn-dropdown-options .active a {
    background-color: var(--bg-active);
    color: var(--font-color-select);
}

#wrap .btn-dropdown-options .rule {
    border-color: var(--line-1);
}

#wrap .shot-subnav .shot-views .open a {
    color: var(--font-color-select);
}

#wrap .color-chips {
    background-color: var(--bg-1);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#wrap .attribution-user a,
.attribution-team a {
    color: var(--font-color-normal) !important;
}

#wrap h1 span.badge,
span.badge {
    background-color: var(--bg-1) !important;
    color: var(--font-color-hover) !important;
}

#home .hover-card,
#details .hover-card,
#user-profile .hover-card,
#shots .hover-card,
#profile .hover-card {
    background-color: var(--bg-1);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#home .hover-card .follow,
#details .hover-card .follow,
#user-profile .hover-card .follow,
#shots .hover-card .follow,
#profile .hover-card .follow {
    background-color: var(--bg-1);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
}

#home .hover-card::after,
#details .hover-card::after,
#user-profile .hover-card::after,
#shots .hover-card::after,
#profile .hover-card::after {
    /* border-color: transparent transparent var(--bg-1) var(--bg-1);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset; */
    display: none;
    opacity: 0;
}

#home .hover-card span,
#details .hover-card span,
#user-profile .hover-card span,
#shots .hover-card span,
#profile .hover-card span {
    color: var(--font-color-normal);
}

#home .hover-card div,
#details .hover-card div,
#user-profile .hover-card div,
#shots .hover-card div,
#profile .hover-card div {
    border-color: var(--line-1);
}

#home .hover-card .name,
#details .hover-card .name,
#user-profile .hover-card .name,
#shots .hover-card .name,
#profile .hover-card .name {
    color: var(--font-color-select) !important;
}

#home .hover-card .unfollow span,
#details .hover-card .unfollow span,
#user-profile .hover-card .unfollow span,
#shots .hover-card .unfollow span,
#profile .hover-card .unfollow span {
    color: var(--font-color-select) !important;
}

/*************** Footer *********************/

#footer {
    background-color: var(--bg-1) !important;
    border-top-color: var(--line-1) !important;
}

#footer p.follow a img {
    filter: invert(1);
}

#footer a:hover {
    color: var(--font-color-select) !important;
}

#footer #shots-total {
    filter: invert(0.8) grayscale(1);
}

/************** content ************/
.menu-section-title {
    color: var(--font-color-normal) !important;
}

#wrap #wrap-inner {
    background-color: var(--bg-2);
}

#content .dribbble {
    background-color: var(--bg-1);
    border-radius: 4px;
}

#content .shot-display-options {
    background-color: var(--bg-1);
}

/* #content .dribbble-shot {
    padding: 0;
} */

#content .dribbble-shot-actions {
    background-color: var(--bg-1);
    color: var(--font-color-normal);
}

#content .dribbble-shot-title-date {
    background-color: var(--bg-1);
    color: var(--font-color-normal);
}

#content .dribbble-shot-title-date p {
    color: var(--font-color-select);
}

#content .form-btn {
    background-color: var(--bg-1);
    color: var(--font-color-select);
}

#content .form-btn svg path {
    fill: var(--font-color-hover);
}

/* #content .group {
    margin: 0 0px 16px 12px;
} */

/************** shot-overlay ************/
#home .overlay-content,
#shots .overlay-content {
    background-color: var(--bg-1);
}

#comments h2 a {
    color: white !important;
}

#home .overlay-content .outlined,
#shots .overlay-content .outlined {
    color: var(--font-color-normal);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
    background-color: var(--bg-1);
}

#home .overlay-content .shot-title,
#shots .overlay-content .shot-title {
    color: var(--font-color-select);
}

#home .shot-overlay,
#shots .shot-overlay {
    background: rgba(30, 30, 30, 0.96) !important;
}

#home .overlay-content *,
#shots .overlay-content * {
    border-color: var(--line-1);
}

#home .shot-loading,
#shots .shot-loading {
    background-color: var(--bg-2) !important;
}

#home .main-shot,
#shots .main-shot {
    background-color: var(--bg-1) !important;
}

#home .shot-loading.shot,
#shots .shot-loading.shot {
    background-color: white !important;
}

#home .shot-loading.description,
.shot-loading.description:before,
.shot-loading.description:after,
#shots .shot-loading.description,
.shot-loading.description:before,
.shot-loading.description:after {
    background-color: white !important;
}

#home .shot-loading-container,
#shots .shot-loading-container {
    filter: invert(1) grayscale(1);
}

#home .shot-overlay .title,
#shots .shot-overlay .title {
    filter: invert(1) grayscale(1) brightness(0.9) contrast(1);
    opacity: 0.1;
}

#home .overlay-content .icon,
#shots .overlay-content .icon {
    filter: grayscale(1);
}

#home .overlay-content .icon path,
#shots .overlay-content .icon path {
    fill: var(--icon-color);
}

#home .overlay-content p,
#shots .overlay-content p {
    color: var(--font-color-normal);
}

#home .detail-attachments,
#shots .detail-attachments {
    border-bottom: 1px solid var(--line-1);
}

#home .detail-attachments h3,
#shots .detail-attachments h3 {
    filter: invert(1);
}

#home .detail-attachments h3 svg,
#shots .detail-attachments h3 svg {
    filter: invert(0) !important;
}

#home #comments a,
#shots #comments a {
    color: var(--font-color-normal);
}

#home .shot-loading-columns,
#shots .shot-loading-columns {
    filter: contrast(0.66);
}

#home .detail-shot,
#shots .detail-shot {
    background-image: none;
}

#home .overlay-content .section,
#shots .overlay-content .section {
    color: var(--font-color-normal);
}

#comment_text {
    border: 1px solid var(--line-1);
}

#home .tipsy div:last-child,
#shots .tipsy div:last-child {
    background-color: var(--bg-2);
}

#home .overlay-content .hire-us-button div,
.related-player-shots h3 a,
#shots .overlay-content .hire-us-button div,
.related-player-shots h3 a {
    color: var(--font-color-normal) !important;
}

#home .overlay-content .message-btn svg,
#shots .overlay-content .message-btn svg {
    filter: invert(0) !important;
}

/******************* activity *********************/
#incoming-activity .full-tabs .active a {
    color: var(--font-color-select);
}

#incoming-activity .activity li {
    border-color: var(--line-1);
}

#incoming-activity .activity span {
    color: var(--font-color-normal);
}

#incoming-activity .next_page {
    filter: invert(1);
}

/******************** account **********************/
#account .shot-overlay,
#password .shot-overlay,
#account-billing .shot-overlay,
#notifications .shot-overlay,
#invitations .shot-overlay,
#export .shot-overlay,
#sessions .shot-overlay,
#social-sites .shot-overlay,
#messages .shot-overlay,
#work_opportunities .shot-overlay {
    display: none;
}

#wrap .account-menu {
    background-color: var(--bg-1);
    color: var(--font-color-select);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
    border: none;
}

#wrap .account-menu li {
    border-color: var(--line-1);
}

#wrap .account-menu .active a {
    color: var(--font-color-select);
}

#wrap .account-menu li a:hover {
    color: var(--font-color-select);
}

#wrap .account-menu .active a::after {
    filter: invert(1);
}

#account input:not([type=checkbox]):not([type=radio]),
#password input:not([type=checkbox]):not([type=radio]),
#work_opportunities input:not([type=checkbox]):not([type=radio]) {
    background-color: var(--bg-1);
    color: var(--font-color-select);
    box-shadow: 0px 0px 0px 1px var(--line-1) inset;
    border: none;
}

#wrap label {
    color: var(--font-color-normal);
    border-color: var(--line-1);
}

#work_opportunities .work-settings-fields * {
    border-color: var(--line-1) !important;
}

#work_opportunities .selected {
    color: var(--font-color-select);
}

#account .info-links {
    background-color: var(--bg-1);
}

#account .info-links h3,
#account h2,
#notifications h2,
#account-billing h2,
#account-billing em {
    color: var(--font-color-normal);
}

#account .info-links img {
    filter: invert(1);
}

#account-billing .echo-plan {
    background-color: var(--bg-1);
    border-color: var(--line-1);
}

/******************** designers **********************/
#designers .designer-search-header {
    background-color: var(--bg-1);
}

/******************** designers **********************/
#teams  .designer-search-header {
    background-color: var(--bg-1);
}